@model Timmer.Web.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductID" />
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUsed" class="control-label"></label>
                <select asp-for="NewUsed" class="form-control">
                    <option value="1">New</option>
                    <option value="2">Used</option>
                </select>
                <span asp-validation-for="NewUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockNumber" class="control-label"></label>
                <input asp-for="StockNumber" class="form-control" />
                <span asp-validation-for="StockNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineHorsePower" class="control-label"></label>
                <input asp-for="EngineHorsePower" class="form-control" />
                <span asp-validation-for="EngineHorsePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drive" class="control-label"></label>
                <input asp-for="Drive" class="form-control" />
                <span asp-validation-for="Drive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategoryID" class="control-label"></label>
                <select asp-for="ProductCategoryID" class="form-control" asp-items="ViewBag.ProductCategoryID">
                    <option value="">Select Category</option>
                </select>
                <span asp-validation-for="ProductCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductLocationID" class="control-label"></label>
                <select asp-for="ProductLocationID" class="form-control" asp-items="ViewBag.ProductLocationID">
                    <option value="">Select Location</option>
                </select>
                <span asp-validation-for="ProductLocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductMakeID" class="control-label"></label>
                <select asp-for="ProductMakeID" class="form-control" asp-items="ViewBag.ProductMakeID">
                    <option value="">Select Maker</option>
                </select>
                <span asp-validation-for="ProductMakeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
