@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Timmer.Web.Models.Product
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form id="frmProduct">
    <div class="row">
        <div class="col-md-2">
            <label class="control-label" asp-for="ProductCategoryID"></label>
            <select class="form-control" asp-for="ProductCategoryID" asp-items="@((IEnumerable<SelectListItem>)ViewBag.ProductCategoryID)">
                <option value="0">All Categories</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="control-label" asp-for="ProductMakeID"></label>
            <select class="form-control" asp-for="ProductMakeID" asp-items="@((IEnumerable<SelectListItem>)ViewBag.ProductMakeID)">
                <option value="0">All Makers</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="control-label" asp-for="Model"></label>
            <input class="form-control" asp-for="Model" type="text" />
        </div>
        <div class="col-md-2">
            <label class="control-label" asp-for="NewUsed"></label>
            <select asp-for="NewUsed" class="form-control">
                <option value="0">All</option>
                <option value="1">New</option>
                <option value="2">Used</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="control-label" asp-for="ProductLocationID"></label>
            <select asp-for="ProductLocationID" class="form-control" asp-items="@((IEnumerable<SelectListItem>)ViewBag.ProductLocationID)">
                <option value="0">All Locations</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="control-label" asp-for="StockNumber"></label>
            <input class="form-control" asp-for="StockNumber" type="text"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <br />
            <button type="button" onclick="searchProduct();" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<br />

<div id="productList"></div>


@section Scripts{
    <script>
        $(document).ready(function (e) {
            searchProduct();
        });

        function searchProduct() {
            var product = $("#frmProduct").serialize();

            $.ajax({
            url: '@Url.Action("GetProducts")',
            type: 'POST',
                data: product,
                dataType :"html",
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                $('#productList').html(result);
            }
             });
        }

    </script>
}