@{
	ViewData["Title"] = "Timmer Implement, Inc.";
}
<body>
	<header>
		<div class="mynav container-fluid">
			<div class="container-fluid">
				<div class="row no-gutters" id="location">
					<div class="col-md">
						<a class="ldd d-none d-md-block" href="tel:2189272515"> Aitkin, MN  <i class="fas fa-phone-square"></i>  218-927-2515
					</div>
					<div class="col-md">
						<a class="ldd d-none d-md-block" href="tel:3203694183"> Milaca, MN  <i class="fas fa-phone-square"></i>  320-369-4183
					</div>
					<div class="container-fluid ">
						<div class="row" id="location">
							<div class="col">
								<a class="ldd d-block d-md-none" href="tel:2189272515"> Aitkin, MN  <i class="fas fa-phone-square"></i>
							</div>
							<div class="col">
								<a class="ldd d-block d-md-none" href="tel:3203694183"> Milaca, MN  <i class="fas fa-phone-square"></i>
							</div>
						</div>
						<div class="container-fluid">
							<nav class="navbar navbar-dark navbar-expand-lg m-0">
								<a class="navbar-brand d-lg-inline-flex" href="#"></a>
								<img class="Navlogo" src="/Images/Websitelogo.png" />
								</a>
								<button data-toggle="collapse" data-target="#navbarToggler" type="button"
										class="navbar-toggler">
									<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse" id="navbarToggler">
									<ul class="navbar-nav ml-auto">
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Agiculture
											</a>
											<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
												<a class="dropdown-item" href="#">Used Inventory</a>
												<a class="dropdown-item" href="#">New Inventory</a>
												<a class="dropdown-item" href="#">Financing</a>
												<a class="dropdown-item" href="#">Promotion</a>
												<div>
										</li>
										<div class="collapse navbar-collapse" id="navbarToggler">
											<ul class="navbar-nav ml-auto">
												<li class="nav-item dropdown">
													<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														Construction
													</a>
													<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
														<a class="dropdown-item" href="#">Used Inventory</a>
														<a class="dropdown-item" href="#">New Inventory</a>
														<a class="dropdown-item" href="#">Financing</a>
														<a class="dropdown-item" href="#">Promotion</a>
														<div>
												</li>
												<li class="nav-item dropdown">
													<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														Parts & Service
													</a>
													<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
														<a class="dropdown-item" href="#">Parts</a>
														<a class="dropdown-item" href="#">Manuals & Training</a>
														<a class="dropdown-item" href="#">Warranty</a>
														<div>
												</li>
												</li>
												<div class="topnav-right" id="navbarToggler">
													<ul class="navbar-nav ml-auto">
														<li class="nav-item" id="AboutusNav">
														</li>
														<li class="nav-item dropdown">
															<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																About Us
															</a>
															<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkA">
																<a class="dropdown-item" href="#">Contact Information</a>
																<a class="dropdown-item" href="#">Location</a>
																<a class="dropdown-item" href="#">History</a>
																<a class="dropdown-item" href="#">Careers</a>
															</div>
														</li>

													</ul>
												</div>
							</nav>
	</header>
	<div class="container-fluid">
		<main role="main" class="pb-3">

			<div class="container1 d-none d-md-block align-items-center">
				<div class="col-md-12" id="Mainlogo">
					<a href="https://www.newhollandgiveaway.com/">
						<img class='img1-fluid1 w-100' src="/Images/Artboard 1.png" alt="placeholder 960" class="img-responsive" />
					</a>
				</div>

			</div>
			<div class="container-fluid1" id="middlenav">
				<img src="" />
				<div class="row no-gutters">
					<div class="col-md-4">
						<button type="button" class="btn btn-primary btn-lg">Agriculture</button>
					</div>
					<div class="col-md-4">
						<button type="button" class="btn btn-primary btn-lg">Construction</button>
					</div>
					<div class="col-md-4">
						<button type="button" class="btn btn-primary btn-lg">Parts & Service</button>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>


<div class="container" id="Maininfo">
    <div class="text-center">
        <h1 class="display-4">Welcome to Timmer Implement</h1>
        <p>We carry an extensive inventory of new equipment that can be found in our showroom. We also carry a wide range of used equipment, from used skid steer loaders, loader attachments and tractors to everything in between to get the job done right. Timmer Implement has a very knowledgeable parts and service department and guarantees to keep you and your equipment working! Please browse through our site and let us answer your questions. We can be contacted through the site - here- or by calling toll free 888-702-3988.</p>
    </div>
   
</div>



