a {
    text-decoration: none;
    color: inherit;
}

.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}


a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #F0F0F0;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;

}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -o-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -moz-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
}

button {
text-align: center;
}

nav.navbar {
    background-color: #0A1612 !important;
    padding-bottom: 0em;
    margin-bottom: 0em;
}
div.col-md {
    text-align: center;
    font-family: font-family: 'Rubik', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
    background-color: #EFF0EB;
}
li.nav-item.dropdown {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke !important;
    margin: 6px;
}

    li.nav-item:last-child{
        padding-right: 20px;


    }
    a.nav-link {
        color: whitesmoke !important;
    }
a.ldd {
    color: white;
    background-color: #0A1612;
}
div.container-fluid {
    padding: 0px;
    
}

a.ldd {
    text-align:center !important;
}
div.col {
    text-align: center;
    font-family: font-family: 'Rubik', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

}
.dropdown:hover > .dropdown-menu {
    display: block;
}
@media screen {
    .dropdown:hover .dropdown-menu,
    .btn-group:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        margin: auto;
    }

    .dropdown-toggle {
        margin: auto;
    }

    .navbar .dropdown-toggle,
    .nav-tabs .dropdown-toggle {
        margin: auto;
    }
}
#myslider {
    margin-top: 10px !important;
}

.card {
    /*text-align: center;*/
}

/* 
Forces carousel image to be 100% width and not max width of 100% 
*/ 
.carousel-item .img-fluid { width:100%; height:100%; }/*
Forces carousel image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
width:100%;
height:100%;
}

*{
    marin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    font-weight: 400;
    color: #777;
          
    }
h1{
    font-size: 36px;
    color: #555;
    font-weight: bold;
         
    }
h3{
    font-size: 24;
    color:#333;
    font-weight: bold;

}
#team img{
    margin-top: -50px;
    
}
#team i{
    font-size: 26px;
    color: #555;
}
#team p{
    font-weight: 500;

}
.card-img {
    height: 180px;
    width: 300px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#team .card:hover{
    background: #e74c3c;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9E9E9E;

}
.card1 {
   margin: 4rem;
}

.carousel-inner {
    padding-top: 5px;
    max-width: 100%;
    max-height: 325px;
    padding-bottom: 5px;
    object-fit:scale-down;
}
.card-title1 {
    position: relative;

    color: black !important;
    text-align: center;
}
.card1 {
    border: none !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 125PX;
    padding-left: -2;
    margin: 0;

}
.col {
    padding: 0px;
    margin: 0px;
}
.container-fluid1 {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 5px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
}
.img-fluid1 {
    border: 2.5px solid transparent;
}

#Maininfo {
    background-color: #C5C1C0;
    margin-top: 1rem;
    text-align:center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.fab {
    font-size: 3em;
}
.page-footer {
    background-color: #0A1612;
}


.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

    /* Sidebar links */
    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }

        /* Active/current link */
        .sidebar a.active {
            background-color: #4CAF50;
            color: white;
        }

        /* Links on mouse-over */
        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
.form-control {
    text-align: center;
}

label{
    display: block;
    text-decoration: none;
    background: #484E4a;
    color: white;
    border: 1px solid #ddd;
    padding: 10px 15px 10px 10px !important;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    line-height: 13px;
    margin: 5px;
    outline: none;
}
h1 {
    text-align: center;
    margin-top: .25rem !important;
}
.card-horizontal {
    display: flex !important;
    flex: 1 1 auto !important;
}