
@{
	ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<li class="nav-item">
	<a asp-area="" asp-controller="Products" asp-action="Index">Inventory</a>
</li>
<li class="nav-item">
	<a  asp-area="" asp-controller="ProductCategories" asp-action="Index">Product Categories</a>
</li>
<li class="nav-item">
	<a  asp-area="" asp-controller="ProductLocations" asp-action="Index">Locations</a>
</li>
<li class="nav-item">
	<a  asp-area="" asp-controller="ProductMakes" asp-action="Index">Makes</a>
</li>
