@{
	ViewData["Title"] = "Timmer Implement, Inc.";
}

<body>
	<div class="container1 d-none d-md-block align-items-center">
		<div class="col-md-12" id="Mainlogo">
			<a href="https://www.newhollandgiveaway.com/">
				<img class='img1-fluid1 w-100' src="~/Images/Artboard 1.png" alt="placeholder 960" class="img-responsive" />
			</a>
		</div>
	</div>
</body>
<body>
	<div class="container-fluid1" id="middlenav">
		<img src="" />
		<div class="row no-gutters">
			<div class="col-md-4">
				<button type="button" class="btn btn-primary btn-lg">Agriculture</button>
			</div>
			<div class="col-md-4">
				<button type="button" class="btn btn-primary btn-lg">Construction</button>
			</div>
			<div class="col-md-4">
				<button type="button" class="btn btn-primary btn-lg">Parts & Service</button>
			</div>
		</div>
	</div>
</body>

<div class="container" id="Maininfo">
    <div class="text-center">
        <h1 class="display-4">Welcome to Timmer Implement</h1>
        <p>We carry an extensive inventory of new equipment that can be found in our showroom. We also carry a wide range of used equipment, from used skid steer loaders, loader attachments and tractors to everything in between to get the job done right. Timmer Implement has a very knowledgeable parts and service department and guarantees to keep you and your equipment working! Please browse through our site and let us answer your questions. We can be contacted through the site - here- or by calling toll free 888-702-3988.</p>
    </div>
    </div>


