<header>
    <div class="mynav container-fluid">
        <div class="container-fluid">
            <div class="row no-gutters" id="location">
                <div class="col-md">
                    <a class="ldd d-none d-md-block" href="tel:2189272515"> Aitkin, MN  <i class="fas fa-phone-square"></i>  218-927-2515 </a>
                </div>
                <div class="col-md">
                    <a class="ldd d-none d-md-block" href="tel:3203694183"> Milaca, MN  <i class="fas fa-phone-square"></i>  320-369-4183 </a>
                </div>
                <div class="container-fluid ">
                    <div class="row" id="location">
                        <div class="col">
                            <a class="ldd d-block d-md-none" href="tel:2189272515"> Aitkin, MN  <i class="fas fa-phone-square"></i> </a>
                        </div>
                        <div class="col">
                            <a class="ldd d-block d-md-none" href="tel:3203694183"> Milaca, MN  <i class="fas fa-phone-square"></i> </a>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <nav class="navbar navbar-dark navbar-expand-lg m-0">
                            <a class="navbar-brand d-lg-inline-flex" href="#"></a>
                            <img class="Navlogo" src="Images/Websitelogo.png" />
                            <button data-toggle="collapse" data-target="#navbarToggler" type="button"
                                    class="navbar-toggler">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarToggler">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Agiculture
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Used Inventory</a>
                                            <a class="dropdown-item" href="#">New Inventory</a>
                                            <a class="dropdown-item" href="#">Financing</a>
                                            <a class="dropdown-item" href="#">Promotion</a>
                                        </div>
                                    </li>
                                    <div class="collapse navbar-collapse" id="navbarToggler">
                                        <ul class="navbar-nav ml-auto">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Construction
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Used Inventory</a>
                                                    <a class="dropdown-item" href="#">New Inventory</a>
                                                    <a class="dropdown-item" href="#">Financing</a>
                                                    <a class="dropdown-item" href="#">Promotion</a>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Parts & Service
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Parts</a>
                                                    <a class="dropdown-item" href="#">Manuals & Training</a>
                                                    <a class="dropdown-item" href="#">Warranty</a>
                                                </div>
                                            </li>
                                            <div class="topnav-right" id="navbarToggler">
                                                <ul class="navbar-nav ml-auto">
                                                    <li class="nav-item" id="AboutusNav">
                                                    </li>
                                                    <li class="nav-item dropdown">
                                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            About Us
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkA">
                                                            <a class="dropdown-item" href="#">Contact Information</a>
                                                            <a class="dropdown-item" href="#">Location</a>
                                                            <a class="dropdown-item" href="#">History</a>
                                                            <a class="dropdown-item" href="#">Careers</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>